#searchDiv {
    width: 100%;
    height: 100%;
}

#searchText {
    text-indent: 10px;
    font-size: 14px;
    width: 100%;
    outline: none;
    height: 30px;
    border: 0;
    background-color: #333131;
}

#resultArea {
    border-top: 1px solid #777272;
    width: 100%;
    color: #e7dbdb;
    background-color: #333131;
}

#resultArea ul {
    font-size: 14px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #e7dbdb;
    background-color: #333131;
}

#resultArea ul li{
    text-indent: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}